body {
  /*background-color:#C3FFE3;*/
  text-align:center;
  list-style-type: none;
}

.header {
  border-style:solid;
  border-width:10px;
  border-bottom-width:10px;
  border-color:#0772A1;
}

h1 {
  font-family:"Futura";
  font-size:36px;
  font-weight:bold;
  font-stretch:expanded;
  color:#0772A1;
}

p {
  color:#37DB79;
  font-size:26px;
  font-family:"verdana";
  text-align:center;
}

/*.image {
  text-align:center;
  border-style:solid;
  border-right-width:140px;
  border-left-width:140px;
  border-top-width:0px;
  border-bottom-width:0px;
  border-color:#0772A1;
}*/