<div id='world-map'></div>
<!-- <div id='map-colors'></div> -->
<% content_for :extra_footer do %>
<script>
$(function(){
  makeMap();
});
</script>
<% end %> 



<!-- <div class=image><%=image_tag "foods.jpg" %></div> -->





















