<div id='world-map'></div>
<!-- <div id='map-colors'></div> -->
<% content_for :extra_footer do %>
<script>
$(function(){
  makeMap();
});
</script>
<% end %> 


<!-- 
<body align="center">

<div class=header>

<h1 style="border:10px solid #07A685; color:#07A685;">WELCOME TO GLOBAL DINER</h1>

</div>

<div class=image><%=image_tag "foods.jpg" %></div>

</body> -->




<!-- <p>Map Your Meals</p> -->



















