    <div class="row">
<h1 align="center"> Recipes </h1>

    <table align="center" width="1000">
    <thead>
      <th width="400"> Country </th>
      <th width="400"> Recipes </th>
      <th width="200"> Recipe Link </th>
    </thead>

  <% @meals.each do |meal|%>
    <tbody>
      <tr>
      <td width="400"><%= meal.country.name %></td>
      <td width="400"><%= meal.name %></td>
      <td width="200"><%= meal.url %></td>
      </tr>
        <% end %>
    </tbody>
    </table>
  </div>